.tab-group-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    

    .header-nav-btn {
        display: flex;
        flex-direction: row;
        gap: 10px;
        
        button {
            height: 30px;
            font-weight: bolder;
            line-height: 30px;
            min-width: 0px;
        }
    }
}
