<div class="input-container">
    <label>Sql Query *</label>
    <textarea rows="8" placeholder="Please Enter SQL Query" [(ngModel)]="sqlQuery" required></textarea>

    <div class="btn-container">
        <button mat-raised-button color="primary" (click)="reset()">Reset Page</button>
        <button mat-raised-button color="primary" (click)="clearQuery()">Clear Query</button>
        <button mat-raised-button color="primary" [disabled]="!sqlQuery.length" 
        (click)="onExecute()"> Execute Query</button>
    </div>
</div>